{% extends 'base.html' %}

{% block title %}Switches{% endblock %}

{% block content %}
<h1>Список свитчей</h1>
<table class="table">
    <thead>
        <tr BGCOLOR="Thistle">
            <th>Название</th>
            <th>IP-адрес</th>
            <th>Действия</th>
        </tr>
    </thead>
    <tbody>
        {% for switch in switches %}
        <tr>
            <td>{{ switch.name }}</td>
            <td>{{ switch.ip_address }}</td>
            <td>
                <a href="{% url 'switch_ports' switch.id %}" class="btn btn-primary btn-sm">Порты</a>
            </td>
        </tr>
        {% endfor %}
    </tbody>
</table>
{% endblock %}