{% extends 'base.html' %}

{% block content %}
<div class="container mt-5">
    <h1 class="mb-4">News List</h1>
    <div class="list-group">
        {% for news_item in news %}
            <a href="{% url 'news_detail' pk=news_item.pk %}" class="list-group-item list-group-item-action">
                <h2>{{ news_item.title_name }}</h2>
                <p><strong>Категория:</strong> {{ news_item.category.name }}</p>
                <p><strong>Описание:</strong> {{ news_item.describtion }}</p>
                <p><strong>Дата добавления:</strong> {{ news_item.date_added }}</p>
            </a>
        {% endfor %}
    </div>
</div>
{% endblock %}
