{% extends "base.html" %}

{% block title %}Данные по картриджу{% endblock %}

{% block content %}
    <div class="container">
        <h2>Информация о картридже</h2>

        <div class="data-row">
            <label>Инвентаризационный номер:</label>
            <span>{{ cartridge.inventory_number }}</span>
        </div>

        <div class="data-row">
            <label>Производитель:</label>
            <span>{{ cartridge.manufacturer }}</span>
        </div>

        <div class="data-row">
            <label>Модель:</label>
            <span>{{ cartridge.model }}</span>
        </div>

        <div class="data-row">
            <label>Статус:</label>
            <span>{{ cartridge.get_status_display }}</span>
        </div>

        <div class="data-row">
            <label>Дата добавления:</label>
            <span>{{ cartridge.date_added }}</span>
        </div>

        <div class="data-row">
            <label>Дата изменения статуса:</label>
            <span>{{ cartridge.status_updated }}</span>
        </div>

        

        <div class="qr-code">
            <label>QR код:</label>
            <img src="data:image/png;base64,{{ cartridge.qr_code_data }}" alt="QR Code" width="200" height="200">
        </div>

        <button class="status-button">Сменить статус</button>
    </div>
{% endblock %}