{% load static %}


<!DOCTYPE html>
<html lang="ru">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{% block title %}NVK APP{% endblock %}</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/css/bootstrap.min.css" rel="stylesheet">
    <link rel="stylesheet" href="{% static '/styles.css' %}">
</head>
<body>
    <div class="container-fluid">
        <div class="row flex-nowrap">
            <div id="wrapper"></div>
            <div class="overlay"></div>
            <!-- Боковая панель навигации -->
            {% include 'nav.html' %}

            <!-- Основное содержимое -->
            <div id="page-content-wrapper">
                {% block content %}
                {% endblock %}
            </div>
        </div>
    </div>

    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/js/bootstrap.bundle.min.js"></script>
</body>
</html>