<div class="border-end bg-white" id="sidebar-wrapper">
    <div class="sidebar-heading border-bottom bg-light">НВК «Саха»</div>
    <div class="list-group list-group-flush">
        <a class="list-group-item list-group-item-action list-group-item-light p-3" href="/">Главная</a>
        <a class="list-group-item list-group-item-action list-group-item-light p-3" href="#" data-bs-toggle="collapse" data-bs-target="#network-menu" aria-expanded="false" aria-controls="network-menu">
            Сеть
        </a>
        <div class="collapse" id="network-menu">
            <ul class="list-group list-group-flush">
                <li class="list-group-item list-group-item-action list-group-item-light p-3">
                    <a href="/network/switches/">Свитчи</a>
                </li>
                <li class="list-group-item list-group-item-action list-group-item-light p-3">
                    <a href="/network/ip-addresses/">IP-адреса</a>
                </li>
            </ul>
        </div>
        <a class="list-group-item list-group-item-action list-group-item-light p-3" href="/phonebook/">Телефонная книга</a>
        <a class="list-group-item list-group-item-action list-group-item-light p-3" href="/cartridges/">Картриджи</a>
    </div>
</div>
