{% load static %}


<nav class="pcoded-navbar">
    <div class="nav-list">
        <div class="pcoded-inner-navbar main-menu">
            <div class="pcoded-navigation-label"><h3>Навигация</h3></div>
            <ul class="pcoded-item pcoded-left-item">
                <li class="pcoded-hasmenu">
                    <a href="javascript:void(0)" class="waves-effect waves-dark">
                        <span class="pcoded-micon"><i class="feather icon-printer"></i></span>
                        <span class="pcoded-mtext">Картриджи</span>
                    </a>
                    <ul class="pcoded-submenu">
                        <li class>
                            <a href="/cartridges/" class="waves-effect waves-dark">
                                <span class="pcoded-mtext">Картриджи</span>
                            </a>
                        </li>
                        <li class>
                            <a href="/cartridges/inrefills" class="waves-effect waves-dark">
                                <span class="pcoded-mtext">Список на заправку</span>
                            </a>
                        </li>
                        <li class>
                            <a href="/cartridges/refills/" class="waves-effect waves-dark">
                                <span class="pcoded-mtext">Заправка</span>
                                <span class="pcoded-badge label label-info ">NEW</span>
                            </a>
                        </li>
                    </ul>
                </li>
                <li class=" ">
                    <a href="/phonebook/" class="waves-effect waves-dark">
                        <span class="pcoded-micon">
                            <i class="feather icon-phone"></i>
                        </span>
                        <span class="pcoded-mtext">Телефонная книга</span>
                    </a>
                </li>
            </ul>
        </div>
    </div>
</nav>